*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Chakra Petch',sans-serif;
    max-width: 1600px;
}
body{
    background-color: #FFF4FD;
}

@import "./cssLight/bienvenidoL.scss";
@import "./cssLight/buscarL.scss";
@import "./cssLight/navbarL.scss";
@import "./cssLight/sugerenciasL.scss";
@import "./cssLight/tendenciasL.scss";
@import "./cssLight/misGuifosL";
@import "./cssLight/capturarL";